body {
  padding-top: 15px;


  }

.welcome {
  font-size: 14px;
  padding: 5px;
}

.stamp {
        width: 366px;
        height: 315px;
        background: url("https://ipfs.infura.io/ipfs/QmPsJi9uorSoM2vnWdshi3KZWPn7TLVuvjEGXMY8NYNQSo") no-repeat;
        transition-duration: 0.6s;
        display: inline-block;

}

.stamp:hover {
        background: url("https://ipfs.infura.io/ipfs/Qme5k4fMwrY6PK7FD4G5zYD6nxRZXUHbWUGt2trqJ4rsZQ") no-repeat;
        transition-duration: 0.6s;
}

.button7 {
  background-color: #555555;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} /* Black */

.button7:hover {
  background-color: rgb(41, 182, 175);
  color: white;
}

.button8 {
  background-color: #555555;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} /* Black */

.button8:hover {
  background-color: rgb(255, 74, 141);
  color: white;
}

.button9 {
  background-color: #555555;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} /* Black */

.button9:hover {
  background-color: rgb(112, 87, 255);
  color: white;
}

.button10 {
  background-color: #555555;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} /* Black */

.button10:hover {
  background-color: rgb(246, 195, 67);
  color: white;
}

.button11 {
  background-color: #555555;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} /* Black */

.button11:hover {
  background-color: rgb(48, 153, 242);
  color: white;
}

.btn-group .button5 {
  background-color: #555555;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} /* Black */
.btn-group .button5:hover {
  background-color: #008CBA;
  color: white;
}

.button6 {
  background-color: #555555;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
} /* Black */
.button6:hover {
  background-color: #008CBA;
  color: white;
}

input[type="file"] {
    display: none;
  }

.custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
        cursor: pointer;
    }

.custom-file-upload:hover {
background-color: #008CBA;
color: white;
}

.tooltip1 {
  position: relative;
  display: inline-block;
}

.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 150px;
  background-color: #555555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;


  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip1 .tooltiptext1::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555555 transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}

.tooltip2 {
  position: relative;
  display: inline-block;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 190px;
  background-color: #555555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 105%;
  margin-left: -20px;


  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip2 .tooltiptext2::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555555 transparent transparent;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
}

.tooltip3 {
  position: relative;
  display: inline-block;
}

.tooltip3 .tooltiptext3 {
  visibility: hidden;
  width: 130px;
  background-color: #555555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 100%;
  margin-left: 0px;


  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip3 .tooltiptext3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555555;
}

.tooltip3:hover .tooltiptext3 {
  visibility: visible;
  opacity: 1;
}

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li p {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block
}

#myUL li p:hover:not(.header) {
  background-color: #eee;
}
