body {
  padding-top: 40px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}

.header-topo {
  display: flex;
  align-items: right;
}

.header-topo img {
  max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
}